doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Angel Beats
    link(href='/stylesheets/style.css', rel='stylesheet')
    script(src='/javascripts/lib/jquery.min.js')
    script(src='/javascripts/lib/jquery.bootstrap-growl.min.js')
    script(src='/javascripts/lib/jquery.ui.widget.js')
    script(src='/javascripts/lib/jquery.fileupload.js')
    script(src='/javascripts/lib/moment.min.js')
    script(src='/javascripts/lib/bootstrap.min.js')
    script(src='/javascripts/lib/list.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/main.js')
  body
    .connected-counter.dropdown
      a(href='#', class='dropdown-toggle', data-toggle='dropdown')
        span#numberOfClients 0
        |  users connected
      ul.dropdown-menu

    .host-mode HOST MODE
    .guest-mode GUEST MODE
    .sync Synchronizing...

    block content

    footer.navbar.navbar-default.navbar-fixed-bottom
      ul.nav.navbar-nav.playback-controls
        li
          a(id='mute')
            span.glyphicon.glyphicon-volume-up
        li
          a(id='backward')
            span.glyphicon.glyphicon-backward
        li
          a(id='pause')
            span.glyphicon.glyphicon-pause
        li
          a(id='play')
            span.glyphicon.glyphicon-play
        li
          a(id='forward')
            span.glyphicon.glyphicon-forward

      p.navbar-text
        span.text-muted#currentTime 0:00
        span.text-muted &nbsp;/&nbsp;
        span.text-muted#timeLeft 0:00
        span &nbsp;
        strong.playlist-controls Hackathon Playlist
      ul.nav.navbar-nav.navbar-right
        li
          a.fileinput-button
            span.glyphicon.glyphicon-cloud-upload
            |  Upload
            input#fileupload(type='file', name='files[]', data-url='/upload', multiple=true)

      form.navbar-form.navbar-right(role='search')
        .form-group
          span.glyphicon.glyphicon-search.text-primary
          | &nbsp;
          input.form-control(type='text', class='search', placeholder='Search...')
